.right{
  background-color: var(--backgroundColour);
  width: 320px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 29px 0px;
gap: 1px;
border-radius: 5px 5px 0 0 ;
height: 700px;
top: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.carrinho{
  background-color: var(--backgrouncarrinho);
  width: 320px;
 /* height:117px ; */
padding: 16px 24px 16px 24px;
border-radius: 5px 5px 0 0 ;
display: flex;
gap: 24px;
}
.cart-items {
  flex-grow: 1;
  overflow: auto;
  
  /* border-bottom: 1px solid #EEEEEE;
  padding: 8px 0px 8px 0px;
 
  position: relative;

  width: 320px; */
}


/* .cart-resume {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 35px 0 15px;
  border-top: 1px solid #ddd;
} */

.subtotal{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--backgrouncarrinho);
  border-bottom: 1px solid #EEEEEE;
}
.preco{
  color:#121212 ;
  font-size: 24px;
 
  line-height: 29px;
  align-items:flex-start;
} 

@media (max-width: 393px) {
  .right {
    display: none;
    cursor: pointer;

}
}



