.right{
  background-color: var(--backgroundColour);
  width: 320px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 29px 0px;
gap: 1px;
border-radius: 5px 5px 0 0 ;
/* height: 400px; */
top: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.carrinho{
  background-color: var(--backgrouncarrinho);
  width: 320px;
 /* height:117px ; */
padding: 16px 24px 16px 24px;
border-radius: 5px 5px 0 0 ;
display: flex;
gap: 24px;
}
.cart-items {
  flex-grow: 1;
  overflow: auto;
}
.cart-vazio{
  height: 64px;
  align-items: center;
  display: flex;
  justify-content: center;
}



.subtotal{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--backgrouncarrinho);
  border-bottom: 1px solid #EEEEEE;
}
.preco{
  color:#121212 ;
  font-size: 24px;
 
  line-height: 29px;
  align-items:flex-start;
} 


.cart-items-pedidos{
  display: flex;
  padding: 8px 16px 0;

  flex-direction: column;


  /* justify-content: space-between; */
height: 75px;
border-bottom: 1px solid #DDD;

}

.cart-items-pedido{
  display: flex;
  /* padding: 8px 0; */

  flex-direction: row;

/* margin-bottom: 10px; */
  align-items: flex-start;
  justify-content: space-between;
height: 19px;
gap: 10px;

}


.cart-item-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: "Roboto";
  margin: 0;
}

.cart-quantidade{
  display: flex;
  align-items: center;
  width: 143px;
  height: 36px;
  justify-content: start;
  /* margin-left: 150px; */
gap:16px;
padding: 8px;

}



.FiPlus{
border: 2px solid #4F372F;
background-color: #4F372F;
border-radius: 50%;
color: #F8F9FA;
cursor: pointer;
}

.cart-items-pedidos:last-child {
  border-bottom: none;
}
/* .cart-item-image {
  width: 70px;
}

.cart-item-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
} */




@media (max-width: 393px) {
  /* .right {
    display: none;
    cursor: pointer;

} */

.right{

  width: 361px;
box-shadow:none;
height: 700px;

}
.carrinho{
  width: 361px;
 /* height:117px ; */

}
}



