.menu-pedido{
  /* display: ; */
  width: 600px;
  height: 150px;
  padding: 20px 0px 24px 16px;
  gap:12px;





  display: inline-flex;
  /* justify-content: space-around; */
  /* profundidade */

}


.menus{
 padding-top: 10px;
  width: 124px;
  height: 146px;
  margin-left: 19px;
cursor: pointer;

}
.menus:hover{
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}
.menu-image{
  border-radius: 190%;
  width: 94px;
  height:  80px;
  /* 
  height: 94px; */
   border: 2px solid #464646;
padding: 4px;


/* object-fit: cover; */

}

.text{
 padding: 16px 0px 8px 0px; 

color: #121212;
 font-size: 16px;
font-weight: 600;
letter-spacing: 0.5px;
align-items: center;
}
.text:hover {

  border-bottom: 2px solid var(--primaryColour) ;
}


@media (max-width: 393px) {
  .menu-pedido{
    width: 361px;
   
    
  }
  .menus{
   
     width: 94px;
     margin-left: 0;
      }
      .menu-image{
   
        /* width: 64px;
        height:  64px; */
      
      object-fit: cover;
      
      }
   
}
