.imagem-fundo {
	 background-image: url(../../assets/cardapio.png); 
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  width: 100%;
/* height: 120vh; */
/* position: fixed; */
opacity: 65%;
top:-50px;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
}





/* imagem do fundo  */
 .pedido {
  /* padding: 1rem; */
 background: white;
 /* text-align: center; */
 width: 480px;
 border-radius: 10px;
 height: 720px;
display: flex;
flex-direction: column;
box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.5);
margin-top: 15px;
/* top: 170px; */
}
.detalhe-image{
  height: 220px;
  width: 480px;
  z-index: 0.2;
  display: inline-flex;
  align-items: flex-start;
  justify-content: right;
 
}
.image-1{
  height: 220px;
  width: 480px;
  position: absolute;
  
}
.icone-x{
 position: relative;
z-index: 1;
}

.x{
  width: 34px;
  padding: 5px;
  border-radius: 50%;
margin-top: 10px;

    background-color:var(--colors)
}

.pedido-detalhe{
height: 506px;
width: 480px;
padding: 16px;
gap: 8px;
display: flex;
flex-direction: column;
align-items: flex-start;

}

.opcao{
  width: 460px;
  height: 58px;
  display: flex;
flex-direction: column;
align-items: flex-start;
background-color: 
#F8F9FA;
justify-content: center;
  /* padding: 16px 24px; */
  /* margin-top: 5px; */
  padding:  5px 0;
}



.opcao-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 16px; */
  height: 62px;

  width: 450px;
}
.opcao-items-left{
  
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opcao-items input{

    width: 20px;
    height: 20px;
    color: #5F5F5F;
}


.quantidade{
  display: flex;
  align-items: center;
  width: 143px;
  height: 32px;
  justify-content: space-around;
  margin-left: 150px;
gap:10px;
}



.btn-adicionar {
    background-color:#4F372F;
    color: white;
    font-weight: 500;
    /* position: fixed; */
    /* bottom: 100px; */
    /* right: 24px; */
    transition: all 0.1s linear 0.1s;
    /* width: 40%; */
    padding: 4px 24px;
    border-radius: 40px;
  font-size: 18px;
  height: 48px;
  gap:8px;
  width: 432px;
  
  /* display: flex; */
  /* margin-left: 600px; */
}
  
.button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    transform: scale(1.1);
}
.FiMinus{
  border: 2px solid 
  #DADADA;
background-color: 
#DADADA;
border-radius: 50%;
color: 
#5F5F5F;
cursor: pointer;
}
.FiPlus{
border: 2px solid #4F372F;
background-color: #4F372F;
border-radius: 50%;
color: #F8F9FA;
cursor: pointer;
}
.description-pedido{
  width: 452px;
  text-align: justify;
line-height: 19px;
margin: 0;
}
@media (max-width: 393px) {
  .opcao, .pedido,.detalhe-image,.image-1,.pedido-detalhe{
    width: 383px;
  }
  .opcao-items,.btn-adicionar{
    width: 353px;
  }

  .opcao-items-left{
  
    

    width: 50px;
}
.quantidade{
  margin-left: 100px;
  margin-bottom: 5px;
}
.description-pedido{
  width: 345px;

}
}