.titulo {
  display: inline-block;
  width: 100%;
}
.h2 {
  margin-top: 5px;
}
.lupa {
  /* float:right; */
  margin: 0px 0px 0px -40px;
  cursor: pointer;
  display: inline;
  color: #8a94a4;
}
.pesquisa {
  width: 1024px;
  padding: 10px 25px;
  border: 1px solid #8a94a4;
  border-radius: 8px;
  font-size: 20px;
  margin: 10px 0;
  float: none;
  gap: 4px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  /* align-items: center; */
  padding: 3rem 1rem;
  background-color: #f8f9fa;
  width: 1030px;
  gap: 24px;
  height: 1337px;
  margin-left: 45px;
}

.menu {
  flex-grow: 1;
  overflow: auto;
}

.left {
  background-color: var(--backgroundColour);
  width: 600px;
  height: 1150px;
  padding: 0px 0px 24px 0px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 7px 29px 0px;

  /* overflow-y: overlay;
overflow-x: auto; */
}
/* barra de rolagem */
.left::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem */
}

.left::-webkit-scrollbar-track {
  background: var(--primaryColour); /* cor de fundo da barra de rolagem */
}

.left::-webkit-scrollbar-thumb {
  background-color: var(
    --backgroundColour
  ); /* cor do scroll (thumb) da barra de rolagem */
  border-radius: 20px; /* arredondar o scroll (thumb) */
  border: 2px solid var(--primaryColour); /* criar um espaco em volta do scroll */
}
.items {
  background-color: var(--backgroundColour);
  width: 320px;
  height: 64px;
  padding: 24px;
  display: flex;
}

a:link {
  text-decoration: none;
  color: white;
}
.menu-sections {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 12px 16px;
}
.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 127px;
  cursor: pointer;
}

.menu-item-drink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 77px;
  cursor: pointer;
}
.menu-item:hover,
.menu-item-drink:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}


.menu-item-left,
.menu-item-left-drink {
  width: 424px;

  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}
.description,
b {
  font-weight: 300;
  color: var(--primaryColour);
  font-size: 16px;
  line-height: 19px;
  margin: 5px 0;
  font-family: "Roboto";
  text-align: justify;
  width: 410px;
}
b {
  font-weight: bold;
  gap: 8px;
}
.menu-item img {
  border-radius: 4px;
  width: 128px;
  height: 85px;
}
.nome {
  display: flex;
  align-items: center;
}
.cart-status {
  color: #f8f9fa;
  background-color: black;

  margin-right: 10px;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}


 @media (min-width: 393px) {
  .menu {
    display: flex;
    width: 355px;
    padding: 0;
    box-shadow: none;
    margin-left: 6px;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 1600px;
  }
  /* .menu {
    flex-grow: 1;
    overflow: auto;
  } */

  .pesquisa {
    width: 351px;
  }
  .left {
    width: 355px;
    padding: 0;
    box-shadow: none;
    margin-left: 6px;
    height: 1337px;
  }

  .menu-item-left {
    width: 235px;
    height: 180px;
  }
  .description {
    width: 217px;
  }

  .menu-item img {
    width: 100px;
    height: 85px;
  }
  .menu-item,
  .menu-item-dessert {
    width: 281px;
    padding: 12px 0 12px 12px;
    height: 190px;
  
  }
  .menu-sections {
    padding: 20px 16px 12px 12px;
  }
  .menu-item-drink {
    height: 70px;
  }

} 
@media (min-width: 480px) {
  .menu {
    display: flex;
    width: 425px;
   
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
 
    margin-left: 6px;
  }

  .menu {
    flex-grow: 1;
    overflow: auto;
  }



 
    .pesquisa {
      width: 375px;
    }
 
  .lupa {
   
    margin: 0px 0px 0px -50px;
    }
  .left {
    width: 370px;
    padding: 0;
 
    margin-left: 6px;
    height: 1337px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 7px 29px 0px;
  }

  .menu-item-left {
    width: 235px;
    height: 180px;
  }
  .description {
    width: 217px;
  }

  .menu-item img {
    width: 119px;
    height: 95px;
  }
  .menu-item,
  .menu-item-dessert {
    width: 361px;
    padding: 12px 0 12px 12px;
    height: 190px;
 
  }
  .menu-sections {
    padding: 20px 16px 12px 12px;
  }
  .menu-item-drink {
    height: 70px;
  }

} 
  @media screen and (min-width:768px) {
 
 
     .menu {
   
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
   
    width: 700px;
    /* gap: 24px; */
    height: 1337px;
    
  } 


  .pesquisa {
    width: 710px;
  }
  .lupa {
   
    margin: 0px 0px 0px -50px;
    }
  .left {
    width: 400px;
    height: 1250px;
  }
  .menu-item

   {

    height: 160px;
    width: 395px;
  
  }
  .menu-item-drink {
    height: 70px;
  }
 
  .menu-item img {
    width: 119px;
    height: 95px;
  }


 
  .description,
  b {
   
    width: 260px;
  }
}  


 @media screen and (min-width:1024px) {
  .menu {
   
     
      width: 900px;
      height: 1137px;
      
    } 
 
    .pesquisa {
      width: 860px;
    }
  

  .left {
 width: 600px;
 height: 1100px;
}
.menu-item

{

 height: 120px;
 width: 595px;

}

.menu-item-left {
  width: 595px;
  height: 120px;
}

.description,
 b {
   
    width: 455px;
  }


} 
@media screen and (min-width:1200px) {
  .menu{
    margin-left: 120px;
    
}









} 