

.cart-items-pedidos {
  display: flex;
  padding: 8px 16px 0;

  flex-direction: column;

  height: 75px;
  border-bottom: 1px solid #ddd;
}

.cart-items-pedido {
  display: flex;


  flex-direction: row;

  align-items: flex-start;
  justify-content: space-between;
  height: 19px;
  gap: 10px;
}

.cart-item-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: "Roboto";
  margin: 0;
}

.cart-quantidade {
  display: flex;
  align-items: center;
  width: 143px;
  height: 36px;
  justify-content: start;

  gap: 16px;
  padding: 8px;
}

.FiPlus {
  border: 2px solid #4f372f;
  background-color: #4f372f;
  border-radius: 50%;
  color: #f8f9fa;
  cursor: pointer;
}
/* tira a ultima borda */
.cart-items-pedidos:last-child {
  border-bottom: none;
} 
.BsCartDashFill{
cursor: pointer;
color: #d83232;
}
/* .cart-item-image {
  width: 70px;
}

.cart-item-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}
